<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>

<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<body style="background-color: #DAF7A6">
<!-- Login Section -->
<!-- <img class="img-responsive" src="/images/banner.png" alt="banner"/> -->
<div class="container">
    <div class="row ">
        <div class="main-center ">
            <div class="bg-danger" th:if="${param.error}">
                Invalid username and secret.
            </div>
            <div class="bg-danger" th:if="${param.logout}">
                You have been logged out.
            </div>
            <form class="form-signin" th:action="@{/index}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <label for="username" class="sr-only">Username</label>
                    <input type="text" roleId="username" class="form-control" placeholder="Username" name="username"
                           id="username"
                           required="required" autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" roleId="inputPassword" class="form-control" placeholder="Password"
                           id="password"
                           name="password" required="required"/>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="remember-me" id="remember-me"/> &nbsp; Remember me
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>

            <hr/>

            <div class="form-group ">
                <a type="submit" class="btn btn-info btn-lg btn-block login-button" th:href="@{/signup}">Sign up!</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>